<!doctype html>
<html lang="zh">
<head>
    <title>Web3 Blog</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto">
    <div class="bg-gray-200 flex flex-col gap-4 h-screen items-center">

        <!-- header -->
        <header class="flex items-center justify-between py-2 border-b">
        </header>
        <!-- header ends here -->

        <a class="rounded-sm w-1/2 bg-gray-100 p-4 bg-opacity-0 transition delay-150 duration-300 ease-in-out hover:scale-150 transform" href="/">
            <p class="text-center"><b>H O M E</b></p>
        </a>

        <div class="rounded-sm w-3/4 bg-white shadow p-3 gap-2 items-center">
            <!-- Title -->
            <div class="text-center mb-2">
                <p class="text-blue-600 font-semibold"> {{.Article.Title}} </p>
            </div>
            <!-- Description -->
            <div class="text-justify p-2">
                <p class="text-sm text-gray-800 font-light"> {{.Article.Content}} </p>
            </div>
        </div>
        <a class="rounded-md w-1/2 bg-gray-100 shadow grid grid-cols-4 items-center p-4 hover:shadow-lg transition delay-150 duration-300 ease-in-out hover:scale-105 transform" href="https://viewblock.io/arweave/tx/{{.Article.ArWeaveTxID}}" target="_blank">
            <p class="text-sm text-left">ARWEAVE TX</p>
            <p class="text-lg text-right col-span-3">{{.Article.ArWeaveTxID}}</p>
        </a>

    </div>
</div>
</body>
</html>