<!doctype html>
<html lang="zh">
<head>
    <title>Web3 Blog</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto">
    <div class="bg-gray-200 flex flex-col gap-4 h-screen items-center">

        <!-- header -->
        <header class="flex items-center justify-between py-2 border-b">
        </header>
        <!-- header ends here -->

        <!-- Card 1 -->
        <div class="rounded-sm w-3/4 grid grid-cols-12 bg-white shadow p-3 gap-2 items-center">
            <!-- Title -->
            <div class="col-span-11 text-center">
                <p class="text-blue-600 font-semibold"> Deploy a Django App Using Gunicorn to App Platform </p>
            </div>
            <!-- Description -->
            <div class="md:col-start-1 col-span-11">
                <p class="text-sm text-gray-800 font-light"> Build a Python app using Django and then deploy the app to App Platform using a Gunicorn HTTP server. </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>