<!doctype html>
<html lang="zh">
<head>
    <title>Web3 Blog</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto">
    <div class="bg-gray-200 flex flex-col gap-4 h-screen items-center justify-center">

        <!-- Card 1 -->
        <a class="rounded-sm w-1/2 grid grid-cols-14 bg-white shadow p-3 gap-2 items-center hover:shadow-lg transition delay-150 duration-300 ease-in-out hover:scale-105 transform" href="#">

            <!-- Title -->
            <div class="md:col-start-2 col-span-11 xl:-ml-5">
                <p class="text-blue-600 font-semibold"> Deploy a Django App Using Gunicorn to App Platform </p>
            </div>

            <!-- Description -->
            <div class="md:col-start-2 col-span-11 xl:-ml-5">
                <p class="text-sm text-gray-800 font-light"> Build a Python app using Django and then deploy the app to App Platform using a Gunicorn HTTP server. </p>
            </div>

        </a>

    </div>
</div>
</body>
</html>